~/.config/arora-browser.org
~/Dropbox/
~/.config/autostart
~/.config/chromium
~/.config/comix
~/.config/dconf
~/.config/dmenu
~/.config/emesene2
~/.config/enchant
~/.config/executables
~/.config/gconf
~/.config/geany
~/.config/geeqie
~/.config/googlecl
~/.config/gtk-2.0
~/.config/gtk-3.0
~/.config/hotkeys
~/.config/htop
~/.config/ImageMagick
~/.config/inkscape
~/.config/leafpad
~/.config/libreoffice
~/.config/luakit
~/.config/lxterminal
~/.config/mcomix
~/.config/midori
~/.config/ncftp
~/.config/nitrogen
~/.config/nuvolaplayer
~/.config/obmenu-generator
~/.config/parcellite
~/.config/pnmixer
~/.config/pulse
~/.config/Skype
~/.config/sparkleshare
~/.config/spotify
~/.config/sublime-text-2
~/.config/Thunar
~/.config/tint2
~/.config/transmission
~/.config/viewnior
~/.config/vlc
~/.config/xfce
~/.config/xfce4
~/.config/zim
~/.config/Trolltech.conf
~/.config/user-dirs.dirs
~/.config/user-dirs.locale



